<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
    <div class="main-container">
        <div class="alert alert-app-level">
            <marquee> Welcome to Charan's blog!! </marquee>
        </div>
        <header class="header header-6">
            <div class="branding">
                <a href="#">
                    <span class="title">Challenge me</span>
                </a>
            </div>
        </header>
        <!-- <nav class="subnav">
          sub nav bar links
      </nav> -->
        <div class="content-container">
            <div class="content-area">
                <h1>My first github pages</h1>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" *ngFor='let x of [1,2,3,4,5,6,7]'>
                        <div class="card">
                            <div class="card-header">
                                Header {{x}}
                            </div>
                            <div class="card-block">
                                <div class="card-title">
                                    Block {{x}}
                                </div>
                                <div class="card-text">
                                    This is Charan ......
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-sm btn-link">Action</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <nav class="sidenav">
                <section class="sidenav-content">
                    <section class="nav-group">
                        <input id="tabexample2" type="checkbox">
                        <label for="tabexample2">Sidenav</label>
                        <ul class="nav-list">
                            <li>
                                <a class="nav-link">Link 1</a>
                            </li>
                            <li>
                                <a class="nav-link">Link 2</a>
                            </li>
                            <li>
                                <a class="nav-link active">Link 3</a>
                            </li>
                            <li>
                                <a class="nav-link">Link 4</a>
                            </li>
                            <li>
                                <a class="nav-link">Link 5</a>
                            </li>
                            <li>
                                <a class="nav-link">Link 6</a>
                            </li>
                        </ul>
                    </section>
                </section>
            </nav>
        </div>